 * {
     box-sizing: border-box;
 }

 .boc {
     width: 100%;     
 }

 .cottrai {
     width: 70%;
     float: left;
     background-color: #f2f2f2;
     height: 100%;

 }

 .cotphai {
     width: 30%;
     float: left;
     background-color: #ddd;
     
 }

 .clearfix {
     clear: both;
 }